.blogImg {
    width: 150px;
    height: 150px;
}

@media (max-width: 576px) {
    .blogContainer {
        margin: 20px !important;
    }
    .blogImg {
        width: 120px;
        height: 120px;
    }

}